* {
	box-sizing: border-box;
}

body {
	  background-color: #e5e5e5;
	  font-family: arial, sans-serif;
		color: #302F2F;
	}

	.wrapper {
		background-color: #F6F6F6;
		width: 92%;
		max-width: 800px;
		margin: 0 auto;
		padding: 12px 20px;
	}

	h1 {
		margin-bottom: .5em;
	}

	h2 {
		margin-bottom: .25em;
		margin-top: 1em;
		font-size: 30;
	}

	h3 {
		margin-bottom: .5em;
		margin-top: 1em;
		font-size: 20;
	}

	h1, h2, h3 {
	  color: #F57B20;
	}

	.image {
		text-align: center;
		margin: 2em 0;
	}

	.caption {
		font-style: italic;
		margin-top: .25em;
	}

	a {
	  color: #48bfe3;
	}

	img {
	max-width: 100%;
	height: auto;
	}

	ul {
		padding-left: 20px;
		margin-top: 8px;
		font-size: 15;
		line-height: 1.5em;
	}

	ol {
		padding-left: 20px;
		margin-top: 8px;
		font-size: 15;
		line-height: 1.5em;
	}

	p {
		line-height: 1.4em;
		font-size: 18;
	}

	header {
		background-image: url(../images/dust_scratches.png);
		border-bottom: 2px solid #d2d2d2;
		text-align: center;
		font-size: 40;
	}

	footer {
		text-align: center;
		padding: 30px 20px;
		border-top: 2px solid #d2d2d2;
	}

@media all and (min-width: 920px) {
	article, aside {
		float: left;
	}

	article {
		width: 75%;
		padding-right: 20px;
	}

	aside {
		width: 25%;
	}
	aside h2:first-child {
		margin-top: 14px;
	}
}
