header {
	background-image: url(../images/so-white.png);
	border-bottom: 2px solid #d2d2d2;
	text-align: center;
}

footer {
	text-align: center;
	padding: 30px 20px;
	border-top: 2px solid #d2d2d2;
}
