* {
	box-sizing: border-box;
}

body {
	  background-color: #e5e5e5;
	  font-family: arial, sans-serif;
		color: #302F2F;
	}

	.wrapper {
		background-color: #ffffff;
		width: 98%;
		max-width: 800px;
		margin: 0 auto;
		padding: 12px 20px;
	}

	h1 {
		margin-bottom: .5em;
	}

	h1#page-title {
		margin: 0;
	}

	h2 {
		margin-bottom: .25em;
		margin-top: 1em;
	}

	h1, h2 {
	  color: #f77f00;
	}

	blockquote {
		border-left: 4px solid #8B9AA5;
		padding: 12px;
		background-color: #f9f9f9;
		margin-left: 0;
	}

	.image {
		text-align: center;
		margin: 2em 0;
	}

	.caption {
		font-style: italic;
		margin-top: .25em;
	}

	a {
	  color: #48bfe3;
	}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 20px;
	margin-top: 8px;
}

p {
	line-height: 1.4em;
}

header {
	background-image: url(../images/dot-grid.png);
	border-bottom: 2px solid #d2d2d2;
	text-align: center;
	padding: 30px 20px;
}

footer {
	text-align: center;
	padding: 30px 20px;
	border-top: 2px solid #d2d2d2;
}

article {
	padding-top: 14px;
}

aside.h2 {
	font-size: 1.4rem;
}

	article, aside {
		float: left;
	}

	article {
		width: 75%;
		padding-right: 20px;
	}

	aside {
		width: 25%;
	}
	aside h2:first-child {
		margin-top: 14px;
	}
}
